{% extends 'lobby/base.html' %}
{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-md-8">
        
        <div class="card shadow-sm border-0 mb-3">
            <div class="card-body bg-dark text-white rounded d-flex justify-content-between align-items-center">
                <div>
                    <h4 class="mb-0">🚪 Sala Privada: {{ grupo.nome }}</h4>
                    <small class="text-light">Jogo: {{ grupo.jogo_foco.titulo }}</small>
                </div>
                <a href="{% url 'game_wall' grupo.jogo_foco.id %}" class="btn btn-outline-light btn-sm">Voltar ao Jogo</a>
            </div>
        </div>

        <div class="card shadow-sm mb-3 border-secondary">
            <div id="caixa-de-mensagens" class="card-body bg-light" style="height: 500px; overflow-y: auto; display: flex; flex-direction: column;">
                
                {% include 'lobby/chat_att.html' %}

            </div>
        </div>

        <form method="POST">
            {% csrf_token %}
            <div class="input-group shadow-sm">
                <input type="text" name="texto" class="form-control p-3 border-primary" placeholder="Digite sua mensagem para a equipe..." required autocomplete="off" autofocus>
                <button class="btn btn-primary px-4 fw-bold" type="submit">Enviar 🚀</button>
            </div>
        </form>

    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const caixaChat = document.getElementById('caixa-de-mensagens');
        
        caixaChat.scrollTop = caixaChat.scrollHeight;

        function atualizarChatSozinho() {
            fetch("{% url 'atualizar_chat' grupo.id %}")
                .then(resposta => resposta.text())
                .then(html_novo => {
                    caixaChat.innerHTML = html_novo;
                    caixaChat.scrollTop = caixaChat.scrollHeight;
                });
        }
        setInterval(atualizarChatSozinho, 3000);
    });
</script>
{% endblock %}