{% extends 'lobby/base.html' %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card shadow border-secondary bg-dark text-white">
            <div class="card-body p-4">
                <h4 class="card-title fw-bold text-center mb-3">Esqueceu a senha? </h4>
                <p class="text-white-50 text-center mb-4">
                    Digite o e-mail cadastrado na sua conta. Nós enviaremos um link seguro para você redefinir sua senha.
                </p>
                
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_email" class="form-label text-light">Seu E-mail</label>
                        <input type="email" name="email" id="id_email" class="form-control" placeholder="exemplo@email.com" required autofocus>
                    </div>
                    
                    <button type="submit" class="btn btn-primary w-100 fw-bold mt-2">Enviar link de recuperação</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}